.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}

/* React Flow overrrides */
.react-flow__pane {
  background-color: var(--bg-primary);
}

.react-flow__node {
  border-radius: 12px;
}

.react-flow__controls {
  box-shadow: var(--shadow-sm);
  background: var(--bg-secondary) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 8px !important;
  overflow: hidden;
}

.react-flow__controls-button {
  background: var(--bg-secondary) !important;
  border-bottom: 1px solid var(--border-color) !important;
  color: var(--text-primary) !important;
}

.react-flow__controls-button:hover {
  background: var(--bg-tertiary) !important;
}

.react-flow__controls-button svg {
  fill: var(--text-primary) !important;
}

.react-flow__minimap {
  background: var(--bg-secondary) !important;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
}
.react-flow__minimap-mask {
  fill: hsla(225, 25%, 8%, 0.6) !important;
}
